.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-prev, .slick-next {
  display: block;
  outline: none;
  border: none;
  opacity: 0;
  padding: 0;
  margin: 0;
  width: 33%;
	background: transparent;
	z-index: 888;
}
.slick-prev {
	position: absolute; top: 5vh; left: 0; bottom: 10vh;
	cursor: w-resize;
}
.slick-prev.slick-disabled {
	cursor: auto;
}
.slick-next {
	position: absolute; top: 5vh; right: 0; bottom: 10vh;
	cursor: e-resize;
}
.slick-next.slick-disabled {
	cursor: auto;
}
.slick-dots {
	width: 100%; height: 40px;
	position: absolute; bottom: 0; left: 0; right: 0;
	display: flex!important;
	justify-content: center;
}
.slick-dots li {
	width: 50px; height: 100%;
	display: inline-block;
	margin-right: 10px;

	&:last-of-type {
		margin-right: 0;
	}
}
.slick-dots li span {
	display: block;
	position: relative;
	width: 100%; height: 100%;
	cursor: pointer;

	&:hover::before {
		background: hsla(180,20%,20%, 0.8);
	}
	&:focus {
		outline: none;
	}
	&::before {
		position: absolute; top: 50%; left: 0; right: 0;
		content: '';
		width: 100%; height: 2px;
		background: hsla(180,20%,20%, 0.2);
		transition: background 0.15s linear;
	}
}
.slick-dots .slick-active span::before {
	background: hsla(180,20%,20%, 0.5);
}

.paper {
	width: 95vw;
	padding: 5vh 0 10vh 0;
	margin: 0 0 15vw 5vw;
	background: linear-gradient(130deg, hsl(180,10%,97%), hsl(180,20%,94%));
	border-radius: 2px 0 0 2px;
}
.content {
	width: 95vw;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 5vh 5vw;
}
.content h3 {
	width: 15vw;
	min-width: 168px;
}
.content p {
	width: 40vw;
	max-width: 580px;
	min-width: 300px;
	margin-right: 5vw;
}
.content p span {
	color: $yellow;
	margin-right: 1rem;
}
.scope {
	max-width: 20vw;
	font-size: 0;
}
.scope li h4 {
	color: $text-third;
	line-height: 25px;
}
.slides {
	margin-left: -5vw;
	position: relative;
	width: 100vw; height: 100%;
	z-index: 1;

	&::before {
		position: absolute; top: 0; right: 0; bottom: 0;
		content: '';
		width: 75vw; height: 100%;
		margin-left: 25vw;
		z-index: -1;
	}
}
.static {
	display: flex;
	justify-content: center;
}
.card {
	margin: 5vh 5vw 10vh 0;
	overflow: hidden;
	border-radius: 2px;
	z-index: 2;

	&:focus {
		outline: none;
	}
}
.slides .card:last-of-type {
	margin-right: 0;
}
.tablet {
	width: 640px; height: 480px;
}
.portrait {
	width: 480px; height: 640px;
}
.phone {
	width: 375px; height: 667px;
}
img {
	width: 100%; height: 100%;
}

.itondo .slides::before, #case-itondo .slides::before {
	background-color: hsl(315, 90%, 90%);
	background-image: linear-gradient(340deg, hsl(315, 90%, 90%) 0%, hsl(280, 20%, 90%) 100%);
}
.itondo .card, #case-itondo .card {
	box-shadow: 0 15px 60px hsla(320,50%,40%, 0.35);
}

.mirage .slides::before, #case-mirage .slides::before {
	background-color: hsl(190,55%,80%);
	background-image: linear-gradient(340deg, hsl(200,75%,70%) 0%, hsl(180,55%,80%) 100%);
}
.mirage .card, #case-mirage .card {
	box-shadow: 0 15px 60px hsla(190,70%,0%, 0.4);
}

.explain .slides::before {
	background-color: hsl(220, 40%, 70%);
	background-image: linear-gradient(5deg, hsl(220, 40%, 70%) 0%, hsl(145, 25%, 90%) 100%);
}
.explain .card {
	box-shadow: 0 15px 60px hsla(220,60%,30%, 0.35);
}
.explain .content h3 {
	margin-left: -2vw;
	width: 17vw;
  min-width: 232px;
}

.mosaic .slides::before {
	background-color: hsl(320,85%,80%);
	background-image: linear-gradient(340deg, hsl(320,85%,80%) 0%, hsl(230,45%,85%) 100%);
}
.mosaic .card {
	box-shadow: 0 15px 60px hsla(300,40%,30%, 0.35);
}

.juice .slides::before {
	background-color: hsl(120,80%,75%);
	background-image: linear-gradient(340deg, hsl(120,80%,75%) 0%, hsl(65,95%,65%) 100%);
}
.juice .card {
	box-shadow: 0 15px 60px hsla(150,70%,0%, 0.4);
}
